table{
    border-collapse: collapse;
}

td,th{
    border: 1px solid gray;
    padding: 5px 10px;
}

nav >ul{
    display: flex;
}

nav li :hover{
    background-color: lightgray;
    /* padding: 2px 5px; */
}

nav li{
    list-style: none;
    margin-right: 10px;
    padding: 2px 5px;
}
nav li a{
    text-decoration: none;
    color: black;
}

/* Nested mune */
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: lightyellow;
    padding-left: 0px;
}

nav li:hover .dropdown{
    display: block;
}